{%- if cluster_conf is defined %}
save ""
appendonly no
cluster-enabled yes
cluster-config-file {{cluster_conf}}
cluster-node-timeout 5000
{%- endif %}

{%- if password is defined %}
requirepass {{password}}
{%- endif %}

bind 0.0.0.0
databases {{databases}}
loglevel {{log_level}}
port {{port}}
tcp-keepalive {{tcp_keepalive}}
timeout {{timeout}}
dir {{redis_dir}}


